.product-container {
  text-align: center;
  width: 17%;
  height: 87vh;
}

.product-img {
  width: 10rem;
  height: 10rem;
  margin: 1.5rem 4rem 0.8rem 4rem;
}

.product-tag-container {
  width: 85%;
  margin: 0.5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.8em;
}

.product-tags {
  border: 1px solid #eaedf3;
  border-radius: 4px;
  margin: 0.5rem 0;
  padding: 0.1rem 0.8rem;
}

.product-subtitle {
  font-size: 0.7em;
  width: 66%;
  margin: 0 auto;
  font-weight: 200;
  color: #a3b2c6;
}

.foo{
  border-top: 1px solid #f5f7f9;
  border-bottom: 1px solid #f5f7f9;
  margin-top: 1rem;
}