
/* Reset margins and padding */
* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(237, 239, 241);
}

.container {
  background: white;
  border-radius: 3px;
}

.content {
  margin-top: 3.2rem;
  display: flex;
  gap: 1.3rem;
}